body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* header stuff */
li, a {
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  background-color: #fdca00;
}

a:link, a:visited {
  text-decoration: none;
}

.logo {
  height: 200px;
}

.nav_links {
  list-style: none;
  margin-right: 150px;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
  
}


.nav_links li a {
  transition: all 0.3s ease 0s;
  font-family: 'Raleway';
  font-size: 18px;
}
.nav_links li p {
  transition: all 0.3s ease 0s;
  cursor: pointer;
  font-family: 'Raleway';
  font-size: 18px;
}

.nav_links li a:hover {
  color: red;
}
.nav_links li p:hover {
  color: red;
}

.nav{
  margin-left: -150px;
  width: 100vw;
  font-size: 40px;
}

.navbar-p{
  margin-bottom: 45px;
}

.signupform {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 35px;
  padding: 5px;
}

.restaurant-list{
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway';
  font-size: 20px;
  margin-left: 500px;
}

.restaurant-list-background{
  background-color: #EFF4FD;
  margin-bottom: -50px;
  margin-right: -210px;
}

.restaurant-card{
  border: 6px solid #00509D;
  border-radius: 15px;
  box-shadow:0 8px 14px 0 black;
  margin: 50px;
  background-color: #00509D;
  text-align: center;
  padding: 10px;
  width: 350px;
}

.restaurant-card:hover {
  box-shadow: 0 10px 30px 0 black;
  color:#FDC500;
}

.restaurant-list-image{
  height:300px;
  width: 350px;
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eff4fd;
}

.review-wrapper {
width: 500px;
height: auto;
border: 1px solid #dfdfdf;
border-radius: 15px;
margin-top: 30px;
background-color: white;
}

.info {
  padding-left: 10px;
}

.location-wrapper {
  display: flex;
  flex-direction: row;

}

.location-img {
  width: 20px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;
}

.review-img {
  width: inherit;
  height: auto;
  border: 1px solid #dfdfdf;
}

.review-content {
  padding: 0 10px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  margin: 25px;
}

.form-box{
  border-radius: 15px;
  margin: 5px;
  font-family: 'Raleway';
  font-size: 16px;
}

.main{
  background-color: #EFF4FD;
  height:100%;
}