

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* header stuff */
.title {
  text-align: center;
  font-family: 'Raleway';
}

li, a {
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 10%;
  background-color: #FFCC01;
}


a:link, a:visited {
  text-decoration: none;
}

.logo {
  height: 200px;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block; 
  padding: 0px 20px;
}


.nav_links li a {
  transition: all 0.3s ease 0s;
  font-family: 'Raleway';
  font-size: 18px;
  color: black;
}

.nav_links li p {
  transition: all 0.3s ease 0s;
  cursor: pointer;
  font-family: 'Raleway';
  font-size: 18px;
  color: black;
}

.nav_links li a:hover {
  color: red;
}
.nav_links li p:hover {
  color: red;
}

@media (max-width: 600px) {

  .logo {
    height: 150px;
    margin-left: 40px;
  }

  .nav_links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

.nav_links li{
  padding: 5px 5px;
}


}

/* restaurant list page  */
.restaurant-list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Raleway';
  font-size: 20px;
}

.restaurant-list-background{
  background-color: #EFF4FD;
}

.restaurant-card{
  border: 6px solid #00509D;
  border-radius: 15px;
  box-shadow:0 8px 14px 0 black;
  margin: 1rem;
  background-color: #00509D;
  text-align: center;
  padding: 10px;
  width: 350px;
  color: #FDC500;
  cursor: pointer;
}


.restaurant-card:hover {
  box-shadow: 0 10px 30px 0 black;
  color: white;

}

.restaurant-list-image{
  height:300px;
  width: 350px;
}

/* feed page  */
.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eff4fd;
}

.review-wrapper {
width: 500px;
height: auto;
border: 1px solid #dfdfdf;
border-radius: 15px;
margin-top: 30px;
background-color: white;
}

@media (max-width: 600px) {
  .review-wrapper {
    width: 99%;
  }
}

.info {
  padding-left: 10px;
}

.location-wrapper {
  display: flex;
  flex-direction: row;

}

.location-img {
  width: 20px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;
}

.review-img {
  width: inherit;
  height: auto;
  border: 1px solid #dfdfdf;
}

.review-content {
  padding: 0 10px;
}


.profile-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

.profile-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.profile-name {
  text-align: center;
  color: red;
}

.profile-pic {
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 20px;
}

.review-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  height: auto;
  border: 1px solid #dfdfdf;
  border-radius: 15px;
  margin: 10px;
  background-color:white;
}

.review-img-profile {
  width: 100px;
  height: 100px;
}

.review-info {
  display: flex;
  flex-direction: column;
}

.update-button, .delete-button {
border: none;
background-color: inherit;
cursor: pointer;
}

.update-button:hover, .delete-button:hover{
  color: #00509D;
  border-radius: 15px;
  box-shadow:0 4px 8px 0 #00509D;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  margin: 25px;
}

.form-box{
  border-radius: 15px;
  margin: 5px;
  font-family: 'Raleway';
  font-size: 16px;
  cursor: pointer;
  height: 2rem;
}

input::placeholder {
  text-align: center;
}


.main{
  background-color: #EFF4FD;
  height:100vh;
  font-family: 'Raleway';
}



.post-review {
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Raleway';
  margin-top: 10px;
  height: 40px;
}



/* login page  */

.login {
  font-size: 1rem;
}

.loginbutton {
  margin-bottom: 30px;
}

.landingpage {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  justify-content: center;
  background-color: #FFCC01;
  height: 100vh;
  font-family: 'Zilla Slab', serif;
}

.landing-logo {
  width: 300px;
  height: auto;
  margin: 0;
}

.landingpage h1 {
  font-size: 6rem;
}

.landingpage h2 {
  font-size: 2.5rem;
  text-align: center;
}


.signinform {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  /* margin: 25px; */
} 

.signinform label {
  align-self: start;
}


.landingpagebuttons {
  display: flex;
  margin: 0px;
  background-color: #EFF4FD;
  height:100vh;
  padding-top: 1rem;
}

.signup-header{
  display: flex;
  padding-left: 0px;
  width: auto;
}


@media(max-width: 600px) {
  .login {
    font-size: 1rem;
  }

  .landingpage h1 {
    font-size: 3rem;
  }

  .landingpage h2 {
    font-size: 1.5rem;
  }

  .landing-logo {
    width: 150px;

  }

}


/* sign up page  */

.signup-page {
  height: 100vh;
  background-color: #EFF4FD;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  background-color: #EFF4FD;
}

.login-button, .signup-button {
  width: 80px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Zilla Slab', serif;
}



.review-image-buttons{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.edit-buttons, .review-dish{
  display: flex;
  justify-content: center;
  margin:20px;
  font-family: 'Raleway';
}

.location{
  display: flex;
  justify-content: center;
}

.description{
  margin:10px 25px;
  text-align: center;
}

.location-wrapper{
  display: flex;
  justify-content: center;
}

.back-to-login {
  cursor: pointer;
  margin-top: 10px;
}

.back-to-login:hover{
  color: #00509D;
  /* border-radius: 15px;
  box-shadow:0 2px 8px 0 #00509D; */
}

